.dropdown-container {
    text-align: center;
    margin: 20px;
    font-family: Arial, sans-serif;
}
select {
    padding: 10px;
    font-size: 16px;
    margin-top: 20px;
    border: 2px solid #007bff;
    border-radius: 5px;
    background-color: #f9f9f9;
    cursor: pointer;
  }
  .image-container {
    margin-top: 20px;
  }
  .fruit-image {
    margin-top: 20px;
    width: 500px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
  }
  .fruit-image:hover {
    transform: scale(1.05);
  }

  h1 {
    font-size: 24px;
    color: #333;
  }
  
  h2 {
    margin-top: 10px;
    color: #007bff;
  }